<html>
    <head>
       <style>
           body{
               background-image: url("/static/one.jpg");
           }
           label{
               color: white;
               font-size: 30px;
               font-style: italic;
           }
           form{
               margin-top: 20%;
           }
           a{
               text-decoration: none;
               color: royalblue;
           }
       </style>
    </head>
    <body>
        <center>
        <form action="/afterlogin/" method="POST">
            <h1 style="color: red;">{{error}}</h1>
            <label>Enter your email</label>
            <input type="email" name="email"><br><br>
            <label>Enter your password</label>
            <input type="password" name="passwd"><br><br>
            <input type="submit" value="LOGIN">
            <a href="/signup/">Not Registered?</a>
        </form>
    </center>
    </body>
</html>